*
!.gitignore
!.gitattributes
!LICENSE
!README.md
!JAK-TO-DZIALA.md
!PAIRING-DESIGN.md
!LVM-TWIN-DESIGN.md
!AGENTS.md
!CLAUDE.md
!docs/
!docs/**
!.github/
!.github/**
!lib-zfs-snap.sh
!lib-profile.sh
!lib-backup-common.sh
!zfs-restore.sh
!snapsend.sh
!snapget.sh
!delsnaps.sh
!gen-cron.sh
!check-snap-age.sh
!deploy.sh
!update-control.sh
!zfs-backup.sh
!zfs-quiesce-helper.sh
!zfs-pair-gate.sh
!cron2conf.sh
!clean-relationships.sh
# deploy_new_server.sh / deploy_backup_user.sh were merged into deploy.sh and no
# longer exist; the entries are gone with them. deploy.sh itself was missing
# here and only stayed tracked because .gitignore does not apply to files git
# already knows about -- a fresh clone would have been fine, a fresh ADD would
# not.
!test/
!test/**
# profiles/ was in exactly the state the deploy.sh note above describes: its
# files stayed tracked only because git already knew about them, and no rule
# here would admit a new one. A profile is data the runtime reads and selects
# with --profile=NAME, so adding one must not require -f -- the next person to
# forget the flag would ship a profile that is not in the repository.
!profiles/
!profiles/**
